.forms-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
}

.center-info {
  background: #41ade5;
  color: #fff;
  position: relative;
  z-index: 1;
}
.center-info:after {
  background: inherit;
  bottom: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}
